<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Airport Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid shadow-sm bg-dark text-light fw-bold">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-3 pb-3">Airport Service</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <a class="btn btn-dark" role="button" th:href="@{/management/flights/add}">Dodaj</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Nr. Rejsu</th>
                    <th scope="col">Terminal</th>
                    <th scope="col">Miejsce startu</th>
                    <th scope="col">Czas startu</th>
                    <th scope="col">Miejsce lądowania</th>
                    <th scope="col">Czas lądowania</th>
                    <th scope="col">Airlines</th>
                    <th scope="col">Edytuj</th>
                    <th scope="col">Usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight : ${flights}">
                    <th scope="row" th:text="${flight.number}"></th>
                    <td th:text="${flight.terminal}"></td>
                    <td th:text="${flight.startPlace}"></td>
                    <td th:text="${#temporals.format(flight.startTime, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${flight.finishPlace}"></td>
                    <td th:text="${#temporals.format(flight.finishTime, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${flight.airlines}"></td>
                    <td><a class="btn btn-dark btn-sm" role="button" th:href="@{'/management/flights/' + ${flight.id} + '/edit'}">Edytuj</a></td>
                    <td><a class="btn btn-dark btn-sm" role="button" th:href="@{'/management/flights/' + ${flight.id} + '/delete'}">Usuń</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>